@import '../../Sass/colors.scss';

.Profile {
  // width: 32rem;
  padding: 1.6rem 2.7rem 2.2rem;
  background-color: white;
  border-radius: 2px;
  border-right: 4px solid #eee;
  border-bottom: 4px solid #eee;
  text-align: center;
  margin-bottom: 2rem;
  height: 32.4rem;

  @media screen and (max-width: 1200px){
      margin-right: 2rem;
    }

    @media (max-width: 620px) {
      margin-right: 0;
    }

  &__heading {
    padding-bottom: .8rem;
    border-bottom: 1px solid #eee;
    font-weight: 600;
  }

  &__img-box {
    text-align: center;
    margin: 1.7rem 0; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 13.1rem;
    border-radius: 50%;

    @media (max-width: 1200px) {
      width: 12.9rem;

    }


  }

  &__name{
    margin-top: -.6rem;
    font-weight: 700;
    font-size: 1.6rem;
  }

  &__actions {
    text-align: center;
    color: $color-green-light;
    font-weight: 500;
    font-size: 1.6rem;
    margin: .2rem 0;
  } 

  &__action {
    font-weight: 800;
    cursor: pointer;

    &:first-child {
      margin-right: .4rem;
    }

    &:hover {
      transition: all .2s;
      color: darken($color-green-light, 10);
    }
  }

  &__text {
    font-size: 1.4rem;
  }
}