.Main {
  background-color: #f0f3f3;
  padding: 2.6rem 2.6rem 2.6rem 3rem;
  color: #555;
  flex: 4.6;
  
  &__content {
    display: flex;
  } 

  &__left{
    margin-right: 2.6rem;
    // width: 69%;
    width: 70%;

  }

  &__right {
    // width: 27%;
    width: 28%;
  }

  &__title {
    font-weight: 300;
    font-size: 4.4rem;
    line-height: .8;
  }

  &__subtitle {
    margin: 1.3rem 0 3rem;
  }
}