@import '../../Sass/colors.scss';


.TabMenu {
  background-color: white;
  border-bottom: 4px solid #eee;
  border-right: 4px solid #eee;
  border-radius: 1px;
  padding-bottom: 2.5rem;
  margin-right: 2.6rem;


  &__links {
    text-align: center;
    display: flex;
    font-family: inherit;
    // border-bottom: 1px solid #ddd;
  }

  &__link {
    padding: 1rem 0 1.45rem;
    flex: 1;
    transition: all .2s;
    cursor: pointer;
    background-color: $color-grey-light-1;
    font-weight: 500;
    background-color: #dedede;
    border-top: 4px solid #dedede;
     color: #333;


    &--active {
      border-top: 4px solid $color-green-light;
      background-color: white;
      border-bottom: none;
     
    }
  }

  &__choice {
  }


}