.Modal {
 
}

.ModalBackdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0, .6);
  height: 100vh;
  width: 100vw;
}

.ModalContent {
  padding: 3.5rem 0;
  background-color: white;
  border-radius: 2px;
  width: 50rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  

  &__header {
    margin-bottom: 2rem;
  }

  &__icon {
    display: inline-block;
    font-size: 8rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    &--success {
      background-image: linear-gradient(to right, #c1ebc7, #afdbd8);
    }

    &--failure {
      // background-image: linear-gradient(to right, #ffb5b5, #daa8c4);
      background-image: linear-gradient(to right, #ffc9c9, #dab1c8);
    }
  }

  &__body {
    line-height: 1.2;
    margin-bottom: 4rem;
  }

  &__status {
    font-weight: 400;
    font-size: 3.5rem;
    color: #888;
  }

  &__message {
    color: #888;
    font-size: 1.5rem;
  }

  &__footer {

  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #a5a5a5;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      transition: all .2s;
      color: darken(#a5a5a5, 5);
    }
  }

  &__btn {
    font-family: inherit;
    border: none;
    color: white;
    padding: .9rem;
    border-radius: 2px;
    width: 11rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;

    &--success {
      background-color: #74c9c9;
    }

    &--success:hover {
      transition: all .2s;
      background-color: darken(#79cbcb, 5);
    }

    &--failure {
      background-color: #f16767b8;
    }

    &--failure:hover {
      transition: all .2s;
      background-color: darken(#f16767b8, 5);
    }
  }

}