.Navbar {
  background: linear-gradient(to right,#dbe05e, #2a7763);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 7rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (max-width: 500px) {
    flex-direction: column;
    padding-bottom: 1.7rem;
  }

  &__logo-box {
    width: 30rem;
  }

  &__logo {
    width: 100%;
  }

  &__actions {
    display: flex;
    list-style-type: none;
    color: white;
  }

  &__item {
    margin-right: 4rem;
    position: relative;
    cursor: pointer;

    &:first-child{
      margin-right:  3.7rem;
    }

    &:hover {
      transition: all .2s;
      color: darken(white, 5);
    }
  }



  &__icon {
    
  }

  &__lang {
    margin-left: .5rem;
  }

  .fa-envelope::after, .fa-bell::after {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #f75863;
    position: absolute;
    bottom: 0px;
    right: -.6rem;
    border-radius: 50%;
    border: 1px solid white;
  }
    
}