.Navbar {
  background: linear-gradient(to right,#dbe05e, #2a7763);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 8.2rem;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  &__logo-box {
    width: 30rem;

  }

  &__logo {
    width: 100%;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    list-style-type: none;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;

    @media screen and (max-width: 500px) {
      width: 100%;
      background-color: #5ac6c5;
      padding: 1rem 0;
      justify-content: center;
      display: none;
    }
  }

  &__item {
    margin-right: 4rem;
    position: relative;
    cursor: pointer;

    &:first-child{
      margin-right:  3.7rem;
    }

    &:hover {
      transition: all .2s;
      color: darken(white, 5);
    }
  }



  &__icon {
    
  }

  &__lang {
    margin-left: .5rem;
  }

  .fa-envelope::after, .fa-bell::after {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #f75863;
    position: absolute;
    bottom: 0px;
    right: -.6rem;
    border-radius: 50%;
    border: 1px solid white;
  }
    
}