.Footer {
  padding: 4rem .5rem 1.2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: #a8acaf;
  }

  &__year {
    margin: 0 .5rem;
    color: #a8acaf;
  }

  &__brand {
    color: #f75863;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      transition: all .2s;
      color: darken(#f75863, 6);
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: #a8acaf;

    &:not(:last-child){
      margin-right: 1rem;
    }

    &:hover {
      transition: all .2s;
      color: darken(#a8acaf, 6);
    }
  }
}