@import '../../Sass/colors.scss';

.AccountSettings {
  padding: 1.7rem 2rem;
  
  &__heading {
    color: #878787;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid #eaeaea;
    margin-top: 1.2rem;
    padding-bottom: .3rem;
  }
}

.Form {
  padding-top: 2.5rem;

  &__control {
    margin-bottom: 1rem;
    width: 50%;
  }

  &__label {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    display: block;
 
  }

  &__field {
    background-color: $color-grey-light-1;
    border: none;
    outline: none;
    width: 100%;
    padding: 1.3rem 1.6rem;
    border-radius: 2px;
    color: #505050;

    &::placeholder {
      color: #bbb;
    }
  }

  &__error {
    min-height: 1.4rem;
    color: #f57f6c;
    letter-spacing: .1px;
    line-height: 1.8;
    font-size: 1.13rem;
    font-weight: 500;
    transition: all .2s ease-in-out;
    line-height: 1.2;
    margin-top: 0.3rem;
  }


  &__submit {
    font-family: inherit;
    border: none;
    background-color: #79cbcb;
    background-color: #74c9c9;
    color: white;
    padding: 1.1rem;
    border-radius: 2px;
    width: 15%;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      transition: all .2s;
      background-color: darken(#79cbcb, 5);
    }
  }
}
