@import '../../Sass/colors.scss';

.AboutMe {
  // width: 32rem;
  padding: 1.6rem 2.7rem 2.2rem;
  background-color: white;
  border-radius: 2px;
  border-right: 4px solid #eee;
  border-bottom: 4px solid #eee;
  text-align: center;

 

  &__heading {
    padding-bottom: .8rem;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__text-box {
    height: 13.5rem;
    overflow-y: scroll;
    padding-right: 1rem;
  }
  
  &__text {
    text-align: left;
    font-size: 1.58rem;
    line-height: 1;
    margin-bottom: 1.5rem;

  }

  &__actions {

  }

  &__action {
    margin-right: .7rem;
    color: #f75863;
    cursor: pointer;
    margin-top: 1.5rem;
    
    &:hover {
      transition: all .2s;
      color: darken(#f75863, 6);
    }
  }

  &__action-text {
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.AboutMe__text-box::-webkit-scrollbar {
  width: .8rem;
}
 
.AboutMe__text-box::-webkit-scrollbar-track {
  background-color: $color-green-light;
  border-radius: 60px;
}
 
.AboutMe__text-box::-webkit-scrollbar-thumb {
  background-color: $color-green-dark-1;
   border-radius: 60px;
}