@import '../../Sass/colors.scss';

.AboutMe {
  padding: 1.6rem 2.7rem 2.2rem;
  background-color: white;
  border-radius: 2px;
  border-right: 4px solid #eee;
  border-bottom: 4px solid #eee;
  text-align: center;
  display: flex;
  height: 32.4rem;
  justify-content: space-between;
  flex-direction: column;


  &__heading {
    padding-bottom: .8rem;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__text-box {
    height: 18.2rem;
    overflow-y: scroll;
    padding-right: 1rem;

    &::-webkit-scrollbar {
      width: .8rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-green-light;
      border-radius: 60px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-green-dark-1;
      border-radius: 60px;
    }
  }
  
  &__text {
    text-align: left;
    font-size: 1.5rem;
    line-height: 0.96;
    margin-bottom: 1.5rem;
  }

  &__actions {
    margin-top: 2rem;
  }

  &__action {
    margin-right: .7rem;
    color: #f75863;
    cursor: pointer;

    &:hover {
      transition: all .2s;
      color: darken(#f75863, 6);
    }
  }

  &__action-text {
    font-weight: 700;
    font-size: 1.6rem;
  }
}
